.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-size: 1.8rem;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
}

.experience__details h4 {
  font-size: 1.3rem;
}
.experience__details small {
  font-size: 1.1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.about__me {
  margin-left: calc(50% - 25rem);
  margin-top: 8rem;
  width: 50rem;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  width: 100%;
}
.about__me-image:hover {
  transform: rotate(0);
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .about__me {
    width: 36rem;
    margin-left: calc(50% - 18rem);
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .experience__container {
    gap: 1rem;
  }

  .about__me {
    width: 30rem;
    margin-left: calc(50% - 15rem);
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
